.test {
background-color: aqua;
border: 10px solid red;
color: blueviolet;
}
.Iyad {
    font-size: large;
    color:crimson
}
.noor {
    color: blueviolet;
    background-color: blanchedalmond;
    border: 5px solid tomato;
    padding: 10px;
    margin: 10px;
}